on property:sys.shutdown.requested=*
   setprop vendor.peripheral.shutdown_critical_list ""

   # Double Tap to Wake
   chown root system /proc/android_touch/SMWP
   chmod 0660 /proc/android_touch/SMWP

on property:persist.wlan.cnss_diag=1
    start cnss_diag

on property:persist.wlan.cnss_diag=0
    stop cnss_diag

on property:vold.decrypt=trigger_restart_framework
    start qcom-c_main-sh
    start wcnss-service
    start config_bt_addr

service config_bt_addr /vendor/bin/btnvtool -O
    class core
    user bluetooth
    group bluetooth radio
    oneshot

service wdsdaemon /vendor/bin/wdsdaemon -su
    user root
    group root
    oneshot
    disabled

on property:persist.sys.start_wdsdaemon=1
    start wdsdaemon

on property:persist.sys.start_wdsdaemon=0
    stop wdsdaemon
